/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-9);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}


@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

/* section */
.section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

/*
======
Navbar
======
*/
nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-heading a {
    color: var(--clr-primary-1);
    text-shadow: 1px 1px 5px var(--clr-primary-2);
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    margin: auto;
    text-align: center;
}

.nav-heading a:hover {
    padding: 0;
    background: transparent;
    color: var(--clr-primary-5);
    text-shadow: none;
    text-decoration: none;
}

.nav-btn {
    text-transform: uppercase;
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 0.375rem 1rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 1rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.nav-btn:hover {
    color: var(--clr-black);
    background: transparent;
}


.nav-links-container {
    height: auto;
    overflow: hidden;
    transition: var(--transition);
}

.nav-center {
    margin: 0 auto;
    padding: 1.5rem 4rem 1.5rem 4rem;
}

.event-alert {
    background: -webkit-linear-gradient(#ffbf1a, #dd8a04);
    border-radius: var(--radius);
    padding: 5px;
    width: 40vh;
}

.event-alert p{
    font-size: 20px;
}


/*
======
Sidebar
======
*/

.sidebar {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    box-shadow: var(--light-shadow);
    align-items: center;
    border-radius: 8px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-links {
    width: 100%;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--clr-grey-3);
    transition: var(--transition);
    letter-spacing: var(--spacing);
}

.sidebar-links a:hover {
    background: var(--clr-grey-9);
    color: var(--clr-grey-2);
    border-radius:8px;
    box-shadow: var(--dark-shadow);
}
.sidebar-links a svg {
    font-size: 1.5rem;
    color: var(--clr-grey-5);
    margin-right: 1rem;
    transition: var(--transition);
}
.sidebar-links a:hover svg {
    color: var(--clr-grey-4);
}

.stats-sidebar {
    background-color: rgba(209, 209, 209, 0.8);
    box-shadow: var(--dark-shadow);
    width: 100%;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.stats-sidebar h3 {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0;
}

.stats-sidebar-values {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(230, 230, 230, 0.8);
    padding: 5px;
    align-items: center;
    flex-direction: column;
}

.stats-sidebar-values-stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.stats-sidebar-values h4 {
    margin-bottom: 0;
}

.stats-sidebar-values hr {
    width: 90%;
    height: 5px;
    color: gray;
    background-color: gray;
    border-width: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.stats-sidebar-other-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.stats-sidebar-container-green h4{
    margin-bottom: 0;
    background: -webkit-linear-gradient(#15be0b, forestgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats-sidebar-container-red h4{
    margin-bottom: 0;
    background: -webkit-linear-gradient(red, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create-order-container {
    border-radius: 8px;
    margin: 40px;
}

.create-order-btn {
    text-transform: uppercase;
    background: #009cdc;
    color: var(--clr-white);
    padding: 0.375rem 1rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 2rem;
    border: 2px solid #0e7aaf;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0%   {transform: scale(1)}
    50%  {transform: scale(1.05)}
    100% {transform: scale(1)}
}

.create-order-btn:hover {
    color: #0e7aaf;
    background: transparent;
}

.ranking-sidebar {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--dark-shadow);
    width: 100%;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.ranking-sidebar h3 {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0;
}

/*
======
Home
======
*/

main {
    display: flex;
    justify-content: center;
}

.home-grid {
    display: grid;
    grid-template-columns: minmax(200px, 300px) auto;
    padding: 15px;
    column-gap: 20px;
}

.item-sidebar {
    grid-column: 1 / 2;
}

.item-content {
    grid-column: 2 / 3;
}


/*
======
Stats
======
*/

.stats-grid {
    display: grid;
    grid-template-columns: minmax(250px, 260px) minmax(300px, auto);
    grid-template-rows:  minmax(150px, 250px) minmax(150px, 250px);
    padding: 5px;
    column-gap: 20px;
    row-gap: 20px;
}
.grid-item-stats {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: var(--light-shadow);
    align-items: center;
    /*transition: transform .3s;*/
    border-radius: 8px;
}

/*.grid-item-stats:hover {
    transform: scale(1.03);
}*/

.stats-image img{
    display: block;
    margin: auto;
    width: 60%;

}

.stats-value {
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.stats-value p {
    color: var(--clr-primary-1);
    font-size: 4rem;
    letter-spacing: var(--spacing);
    font-weight: bold;
    margin: auto;
}

.time-container {
    display: flex;
}

.time-value h2 {
    margin: 15px;
}

.time-value-available h2 {
    letter-spacing: normal;
    font-size: 28px;
    color: forestgreen;
    margin: 20px;
    text-transform: uppercase;
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0%   {transform: scale(1)}
    50%  {transform: scale(1.08)}
    100% {transform: scale(1)}
}


.time-value-unavailable h2 {
    letter-spacing: normal;
    font-size: 28px;
    color: darkred;
    margin: 20px;
    text-transform: uppercase;
}

.bar-container {
    height: 20%;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 15px;
    margin-left: 10px;
    display:inline-block;
    position:relative;
    text-align:left;
}

.bar-filler {
    height: 100%;
    background-image: linear-gradient(lawngreen, forestgreen);
    border-radius: inherit;
    text-align: center;
    transition: width 0.5s ease-in-out;
}

.bar-label {
    padding: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.bar-container .bottom {
    min-width:200px;
    top:55px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#009cdc;
    font-weight:normal;
    font-size:16px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0;
}

.bar-container:hover .bottom {
    visibility:visible; opacity:1;
}

.bar-container .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.bar-container .bottom i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.upgrade-container {
    display: flex;
    justify-content: center;
}

.upgrade-value h3 {
    margin: 20px;
}

.upgrade-container p{
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
}

.upgrade-container-green p{
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
    background: -webkit-linear-gradient(lawngreen, forestgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.upgrade-container-red p{
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
    background: -webkit-linear-gradient(red, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.upgrade-container-formula p{
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.stake-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.stake-value {
    margin: auto;
}

.stake-value p {
    color: var(--clr-primary-1);
    font-size: 2.2rem;
    letter-spacing: var(--spacing);
    font-weight: bold;
}

.services-container {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15px 5px 15px 5px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: var(--light-shadow);
    align-items: center;
    /*transition: transform .3s;*/
    border-radius: 8px;
}

.loading-services-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-container {
    text-align: center;
    position: relative;
    padding: 10px;
}

.service-container p {
    font-size: 22px;
    margin-bottom: 50px;
}

.spinner-loading {
    padding: 30px;
    text-align: center;
}

.loading-text {
    width: 90px;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 55px);
    text-align: center;
}

.spinner-loading:before {
    content: "";
    height: 100px;
    width: 100px;
    margin: -15px auto auto -15px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 45px);
    border-width: 12px;
    border-style: solid;
    border-color: #2180c0 #ccc #ccc;
    border-radius: 100%;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.service-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 100%;
}

.service-container .service-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.service-container:hover .service-tooltip {
    visibility: visible;
}

/*
======
Trades
======
*/
.trades-container {
    display: flex;
    flex-direction: column;
}

.other-services-trade-container {
    display: flex;
}

.chart-container {
    width: 38vw;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    margin: 5px;
}

.chart-container-chart {
    height: 35vh;
    width: 100%;
}

.chart-container-text {
    text-align: center;
    padding-top: 7px;
}

.chart-container-text h3 {
    margin-bottom: 5px;
}

.my-service-trade-container {
    display: flex;
}

.toggle-switch {
    display: flex;
    padding: 5px;
}

.toggle-switch-text {
    margin: auto 10px auto 10px;
}



/*
==========
BlockchainData
==========
*/

.blockchain-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blockchain-info-container {
    display: flex;
}

.all-transactions-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    margin: 5px;
    text-align: center;
}

.all-transactions-container h3 {
    padding: 10px;
    margin: 0;
}

.table-all-transactions-container {

}

.filter-all-transactions {
    display: flex;
    margin-left: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    margin: 10px;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e2e2e2;
    border-radius: 3px;
    font-weight: bolder;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #c5c5c5;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.table-all-transactions-overflow {
    height: 25vh;
    overflow: auto;
}

.table-all-transactions {
    border-collapse: collapse;
    background:#fff;
    width: 100%;
}

.table-all-transactions thead th {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-image: linear-gradient(#7c8a9e, #616f83);
    border-top: 1px solid #858d99;
    cursor: pointer;
    z-index: 1;
}

.table-all-transactions th {
    position: sticky;
    top: 0;
}


.table-all-transactions thead th:hover {
    background-image: linear-gradient(#8c9bb2, #72839a);
    transition: .4s;
}

.table-all-transactions tbody tr td {
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    position: relative;
}

.table-all-transactions tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

.table-all-transactions tbody tr:last-child td {
    border-bottom: none;
}
.table-all-transactions tbody tr:first-child {
    border-bottom-left-radius: 5px;
}

.table-all-transactions tbody tr:last-child {
    border-bottom-right-radius: 5px;
}

/*
--------
Piechart
--------
*/

.piechart-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    width:100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.piechart-container-chart-stake {
    display: flex;
}

.piechart-container-chart {
    height: 330px;
    width: 330px;
    margin: auto;
}

.piechart-container-text {
    text-align: center;
    padding-top: 7px;
}

.piechart-container-text h3 {
    margin-bottom: 0;
}

.piechart-container-text h4 {
    margin: 10px;
}

.stake-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-right: 5px;
}

.confirm-stake-btn {
    text-transform: uppercase;
    background: var(--clr-green-dark);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 1rem;
    border: 2px solid var(--clr-green-dark);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    margin: 5px;
}
.confirm-stake-btn:hover {
    color: var(--clr-green-dark);
    background: transparent;
}

.confirm-unstake-btn {
    text-transform: uppercase;
    background: var(--clr-red-dark);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 1rem;
    border: 2px solid var(--clr-red-dark);;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    margin: 5px;
}
.confirm-unstake-btn:hover {
    color: var(--clr-red-dark);
    background: transparent;
}

/*
--------------------
Pending transactions
--------------------
*/

.pending-transactions-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    width: 100%;
    margin: 5px;
    height: 100%;
}

.table-pending-transactions-container {
    height: 380px;
    overflow: auto;
}

.table-pending-transactions {
    border-collapse: separate;
    background:#fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.table-pending-transactions thead {
    border-radius: 5px;
}

.table-pending-transactions thead th {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top: 1px solid #858d99;
}

.table-pending-transactions thead th:first-child {
    border-top-left-radius: 5px;
}

.table-pending-transactions thead th:last-child {
    border-top-right-radius: 5px;
}

.table-pending-transactions tbody tr td {
    font-weight:400;
    color:#5f6062;
    /*font-size:14px;*/
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    position: relative;
}

.table-pending-transactions-show tbody tr td {
    background-color: #ff0e0e;
}

.table-pending-transactions tbody tr td:last-child {
    width: 0;
    background-color: #222222;
    padding: 0;
    text-align: left;
}
.table-pending-transactions-tooltip-react {
    visibility: visible;
}

.table-pending-transactions tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

.table-pending-transactions tbody tr:last-child td {
    border-bottom: none;
}
.table-pending-transactions tbody tr:first-child {
    border-bottom-left-radius: 5px;
}

.table-pending-transactions tbody tr:last-child {
    border-bottom-right-radius: 5px;
}

.table-pending-transactions tbody:hover > tr td {
    opacity: 0.5;
}

.table-pending-transactions tbody:hover > tr:hover td {
    text-shadow: none;
    color:#2d2d2d;
    opacity: 1.0;
}

.cancel-transaction-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2em;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.cancel-transaction-btn:hover {
    color: #ff0e0e;
    transform: scale(1.1);
}

.mining-progress-container {
    text-align: center;
    width: 60%;
    margin: 10px auto 10px auto;
}

.mining-progress-flex {
    display: flex;
}

.mining-progress-flex p {
    height: 16px;
}

.mining-progress {
    position: relative;
    background-color: #ddd;
    border-radius: 4px;
    height: 16px;
    width: 100%;
    margin: 5px 10px;
}

.mining-progress-filler {
    border-radius: 4px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    border-radius: inherit;
    animation-name: animationGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: linear-gradient(#003cfe, #0033d9);
}

@keyframes animationGlow {
    0%   {opacity: 0.75;}
    50%  {opacity: 1;}
    100% {opacity: 0.75;}
}


.mining-progress-text {
    font-size: 14px;
    opacity: 0.7;
}

/*
-----------
Trade cards
-----------
*/
.trade-cards-container {
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 120px;
    column-gap: 40px;
}

.pending-trades-container {
    display: grid;
    grid-template-columns: minmax(280px, auto) minmax(280px, auto);
    column-gap: 5px;
    row-gap: 5px;
}

.pending-trades-card {
    position: relative;
    background-color: rgba(162, 255, 140, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    padding: 10px;
}

.pending-trades-card-first-row {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}

.pending-trades-card-second-row {
    display: flex;
    justify-content: space-around;
}

.pending-trades-card-second-row p {
    padding: 5px;
}

.pending-trades-card-third-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.requested-trades-container {
    display: grid;
    grid-template-columns: minmax(280px, auto) minmax(280px, auto);
    column-gap: 5px;
    row-gap: 5px;
}

.requested-trades-card {
    position: relative;
    background-color: rgba(255, 243, 149, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    padding: 10px;
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0%   {transform: scale(1)}
    50%  {transform: scale(1.08)}
    100% {transform: scale(1)}
}

.requested-trades-card-first-row {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}

.requested-trades-card-second-row {
    display: flex;
    justify-content: space-around;
}

.requested-trades-card-second-row p {
    padding: 5px;
    margin-right: 10px;
}

.requested-trades-card-third-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}

.time-progress-container {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    width: 130px;
}

.time-progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 10px;
    width: 100%;
}

.time-progress-filler {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    transition: width 0.3s ease-in-out;
    border-radius: inherit;
}


.time-progress-text {
    font-size: 14px;
    opacity: 0.7;
}

.trade-btn {
    text-transform: uppercase;
    padding: 2px;
    background: var(--clr-black);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.8rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}
.trade-btn:hover {
    color: var(--clr-black);
    background: transparent;
}

.trade-accept-btn {
    text-transform: uppercase;
    padding: 2px;
    background: var(--clr-green-dark);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.8rem;
    border: 2px solid var(--clr-green-dark);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}
.trade-accept-btn:hover {
    color: var(--clr-black);
    background: transparent;
}

.trade-reject-btn {
    text-transform: uppercase;
    padding: 2px;
    background: var(--clr-red-dark);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.8rem;
    border: 2px solid var(--clr-red-dark);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}
.trade-reject-btn:hover {
    color: var(--clr-black);
    background: transparent;
}

/*
==========
Ranking
==========
*/

.ranking-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--light-shadow);
    border-radius: 8px;
    width:100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ranking-container h2 {
    text-align: center;
    padding-top: 7px;
}

.table-ranking {
    height: 75vh;
    overflow: auto;
}

.table-all-rankings {
    border-collapse: collapse;
    background:#fff;
    width: 100%;
}

.table-all-rankings thead th {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-image: linear-gradient(#7c8a9e, #616f83);
    border-top: 1px solid #858d99;
    z-index: 1;
}

.table-all-rankings th {
    position: sticky;
    top: 0;
}


.table-all-rankings tbody tr td {
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    position: relative;
}

.table-all-rankings tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

.table-all-rankings tbody tr:last-child td {
    border-bottom: none;
}
.table-all-rankings tbody tr:first-child {
    border-bottom-left-radius: 5px;
}

.table-all-rankings tbody tr:last-child {
    border-bottom-right-radius: 5px;
}


/*
======
Modal
======
*/
.modal-overlay {
      position: fixed;
      top: 6.2rem;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: grid;
      place-items: center;
      transition: var(--transition);
      visibility: visible;
      z-index: 10;
  }

.modal-container {
    background: var(--clr-white);
    border-radius: 8px;
    width: 90vw;
    height: 30vh;
    max-width: var(--fixed-width);
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}

.modal-confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -1;
}

.show-modal-confirm {
    visibility: visible;
    z-index: 10;
}

.modal-confirm-container {
    background: var(--clr-white);
    border-radius: 8px;
    min-width: 400px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}

.modal-confirm-container h3 {
    margin: 20px 50px 20px 50px;
}

.modal-confirm-container ul {
    width: 40%;
    list-style-type: none;
    text-align: left;
    background-color: #dddddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
}

.modal-confirm-container-data {
    display: flex;
    margin: 10px;
}

.modal-confirm-container-input {
    margin: 5px;
    width: 50%;
}

.modal-confirm-container-input ul {
    width: 80%;
    list-style-type: none;
    text-align: left;
    background-color: #dddddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
}

.trade-modal-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}

.trade-modal-input-group label{
    font-size: 20px;
}

.trade-modal-input-group-container {
    display: flex;
}

.trade-modal-input-group-container span {
    margin-left: 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.trade-modal-input-group input{
    margin-top: 6px;
    width: 8em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: all 250ms ease-in-out;
}

.trade-modal-input-group input:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

.trade-modal-input-group input:focus{
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.trade-modal-input-alert {
    width: 90%;
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    border-radius: 4px;
    visibility: hidden;
    z-index: -1;
    text-align: center;
    margin: auto;
}

.show-trade-modal-input-alert {
    visibility: visible;
    z-index: 10;
}

.trade-modal-table-container {
    height: 300px;
    overflow: auto;
    margin: 10px;
    padding: 10px;
}

.modal-table-pending-transactions {
    border-collapse: separate;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}

.modal-table-pending-transactions thead {
    border-radius: 5px;
}

.modal-table-pending-transactions thead th {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top: 1px solid #858d99;
}

.modal-table-pending-transactions thead th:first-child {
    border-top-left-radius: 5px;
}

.modal-table-pending-transactions thead th:last-child {
    border-top-right-radius: 5px;
}

.modal-table-pending-transactions tbody tr td {
    font-weight:300;
    color:#5f6062;
    font-size:13px;
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    position: relative;
}

.modal-table-pending-transactions tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

.modal-table-pending-transactions tbody tr:last-child td {
    border-bottom: none;
}
.modal-table-pending-transactions tbody tr:first-child {
    border-bottom-left-radius: 5px;
}

.modal-table-pending-transactions tbody tr:last-child {
    border-bottom-right-radius: 5px;
}


.close-modal-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
}

.close-modal-btn:hover {
    color: #ff0e0e;
    transform: scale(1.1);
}

.confirm-modal-btn {
    text-transform: uppercase;
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 1rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    margin: 1rem;
}
.confirm-modal-btn:hover {
    color: var(--clr-black);
    background: transparent;
}

.stake-modal-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stake-modal-container div {
    margin: 20px;
}

.modal-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.modal-input-group label{
    font-size: 20px;
}

.modal-input-group-container {
    display: flex;
}

.modal-input-group-container span {
    margin-left: 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.modal-input-group input{
    margin-top: 6px;
    width: 8em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: all 250ms ease-in-out;
}

.modal-input-group input:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

.modal-input-group input:focus{
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.modal-input-alert {
    width: 90%;
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    border-radius: 4px;
    visibility: hidden;
    z-index: -1;
    text-align: center;
}

.show-modal-input-alert {
    visibility: visible;
    z-index: 10;
}

.set-price-container {
    border-radius: 8px;
    margin: 20px;
    overflow: auto
}

.table-set-price {
    border-collapse: separate;
    background:#fff;
    border-radius: 5px;
    margin:0 auto 0 auto;
    width: 400px;
}

.table-set-price thead {
    border-radius: 5px;
}

.table-set-price thead th {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top: 1px solid #858d99;
}

.table-set-price thead th:first-child {
    border-top-left-radius: 5px;
}

.table-set-price thead th:last-child {
    border-top-right-radius: 5px;
}

.table-set-price tbody tr td {
    font-weight:400;
    color:#5f6062;
    font-size:14px;
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
}

.table-set-price tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

.table-set-price tbody tr:last-child td {
    border-bottom: none;
}
.table-set-price tbody tr:first-child {
    border-bottom-left-radius: 5px;
}

.table-set-price tbody tr:last-child {
    border-bottom-right-radius: 5px;
}

.table-set-price tbody:hover > tr td {
    opacity: 0.5;
}

.table-set-price tbody:hover > tr:hover td {
    text-shadow: none;
    color:#2d2d2d;
    opacity: 1.0;
}

.select-all-container{
    width: 100%;
    position:relative;
    margin-bottom: 30px;
}

.select-all-btn {
    position:absolute;
    left:60px;
    text-transform: uppercase;
    background: #009cdc;
    color: var(--clr-white);
    padding: 0.25rem 0.4rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.7rem;
    border: 1px solid #0e7aaf;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}
.select-all-btn:hover {
    color: var(--clr-black);
    background: transparent;
}

.set-price-buttons-container {
    display: flex;
    justify-content: space-evenly;
}

/*
======
Login
======
*/

.login-App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 5rem;
}

.login {
    width: 27em;
    height: 40em;
    min-height: 44em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    z-index: 99;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    transition: transform 200ms ease-in-out;
}

.login-base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 24px;
}

.login-content {
    display: flex;
    flex-direction: column;
}

.login-image {
    width: 23em;
}

.login-image img {
    width: 100%;
    height: 100%;
}

.login-form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.login-form-group label{
    font-size: 20px;
}

.login-form-group input{
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: all 250ms ease-in-out;
}

.login-form-group input:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

.login-form-group input:focus{
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.login-footer {
    margin-top: 1em;
}

.login-btn {
    text-transform: uppercase;
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 1.5rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    margin: 0.5rem;
}
.login-btn:hover {
    color: var(--clr-black);
    background: transparent;
}

.login-alert {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    border-radius: 4px;
    visibility: hidden;
    z-index: -1;
}

.show-alert {
    visibility: visible;
    z-index: 10;
}

